/* COMMAND */

.command {
    position: relative;
    width: 100%;
    background: #ffffff;
    border: 5px solid #F8C300;
    border-bottom: none;
    border-top: none;
    padding-bottom: 50px;
    padding-top: 0;
}

.command .container > h3 {
    font-size: 26px;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: 13px;
    margin-top: 50px;
}

.command p {
    font-size: 24px;
    line-height: 1.4;
    font-weight: lighter
}

.command .command-item {
    margin: 30px 0;
    text-align: center;
}

.command .command-item .command-item-face {
    text-align: center;
}

.command .command-item .command-item-face img {
    border-radius: 50%;
    width: 40%;
    background: #E2E2E2;
}

.command .command-item h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 0;
}

.command .command-item p {
    font-size: 16px;
}

.command .divider {
    margin: 22px 0;
    text-align: center;
}

@media (min-width: 768px) {
    .command {
        border: 10px solid #F8C300;
        border-bottom: none;
        border-top: none;
    }

    .command .container > h3 {
        font-size: 36px;
        text-align: center;
    }

    .command p {
        text-align: center;
    }

    .command .divider {
        margin: 50px 0;
    }

    .command .command-item {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .command .command-item .command-item-face img {
        width: 60%;
    }
}

/* COMMAND END */

/* REVIEWS */

.reviews {
    position: relative;
    width: 100%;
    background: #ffffff;
    border: 5px solid #F8C300;
    border-bottom: none;
    border-top: none;
    padding-bottom: 50px;
    padding-top: 0;
}

.reviews .container > h3 {
    font-size: 26px;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: 13px;
    margin-top: 50px;
}

.reviews p {
    font-size: 24px;
    line-height: 1.4;
    font-weight: lighter
}

.reviews .row {
    margin: 40px 0;
}

.reviews .reviews-description {
    background: #F8C300;
    padding: 20px 15px;
    font-size: 24px;
    line-height: 1.4;
    font-weight: lighter;
    margin-top: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .reviews {
        border: 10px solid #F8C300;
        border-bottom: none;
        border-top: none;
    }

    .reviews .container > h3 {
        font-size: 36px;
        text-align: center;
    }

    .reviews p {
        text-align: center;
    }

    .reviews .row {
        margin: 80px 0;
    }

    .reviews .reviews-description {
        padding: 40px 30px;
        font-size: 24px;
        margin-top: 90px;
        text-align: left;
    }
}

/* REVIEWS END */