.catalog-container .catalog-category {
    position: relative;
    margin-bottom: 50px;
}

.catalog-container .catalog-category .catalog-category-background {
    position: relative;
    width: 100%;
    height: 43px;
    background: #D7D7D7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.catalog-container .catalog-category .catalog-category-title {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: underline;
}

.catalog-container .catalog-category .catalog-category-description {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}

.catalog-container .catalog-category .catalog-category-description a {
    color: #019DD7;
    text-decoration: underline;
}

.catalog-container .catalog-category.catalog-category-1 .catalog-category-background {
    background: url(../img/main-category-1.png) bottom center no-repeat #D7D7D7;
}

.catalog-container .catalog-category.catalog-category-2 .catalog-category-background {
    background: url(../img/main-category-2.png) bottom center no-repeat #D7D7D7;
}

.catalog-container .catalog-category.catalog-category-3 .catalog-category-background {
    background: url(../img/main-category-3.png) bottom center no-repeat #D7D7D7;
}

.catalog-container .catalog-category.catalog-category-4 .catalog-category-background {
    background: url(../img/main-category-4.png) bottom center no-repeat #D7D7D7;
}

.catalog-container .catalog-category.catalog-category-5 .catalog-category-background {
    background: url(../img/main-category-5.png) bottom center no-repeat #D7D7D7;
}