.company-container .company-container-block {
    margin-bottom: 50px;
}

.company-container .company-container-block-client img {
    width: 100%;
    margin-bottom: 10px;
}

.company-container .company-container-block-workshop img {
    width: 100%;
    margin-bottom: 10px;
}