/* QUESTIONS */

.questions{
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 5px solid #F8C300;
    border-bottom: none;
    border-top: none;
    padding-bottom: 50px;
}

.questions .container > h3 {
    font-size: 26px;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: 13px;
    margin-top: 50px;
}

.questions .questions-item {
    margin: 40px 10px;
}

.questions .questions-item .questions-item-title {
    font-size: 21px;
    font-weight: bold;
}

.questions .questions-item .questions-item-answer {
    font-size: 18px;
    font-weight: lighter;
}

@media (min-width: 768px) {
    .questions {
        border: 10px solid #F8C300;
        border-bottom: none;
        border-top: none;
    }

    .questions .container > h3 {
        font-size: 36px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    html, body {
        height: 90%;
    }
}

/* QUESTIONS END */